<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pymo.pymo"
    android:installLocation="auto"
    android:versionCode="10100"
    android:versionName="1.1.0">

    <application
        android:icon="@drawable/icon"
        android:label="@string/appName">
        <activity
            android:name="org.renpy.android.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:process=":python"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="org.renpy.android.FileChooser"
            android:label="@string/title_activity_file_chooser"></activity>
        <activity
            android:name="org.renpy.android.Config"
            android:label="@string/title_activity_config"></activity>

        <activity
            android:name="org.renpy.android.PythonActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|uiMode"
            android:label="@string/iconName"
            android:launchMode="singleInstance"
            android:process=":python"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>


        <activity
            android:name="org.renpy.android.DownloaderActivity"
            android:label="@string/iconName">

        </activity>

        <service android:name="org.renpy.android.DownloaderService" />
        <receiver android:name="org.renpy.android.DownloaderAlarmReceiver" />

    </application>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


</manifest> 